<h1>Hello World!</h1>
<p>{{ packagistResult.total }} Ergebnise</p>
<ul>
    {% for packagistItem in packagistResult.results %}
        <li>{{ packagistItem.name }} : {{ packagistItem.repository }}</li>
    {% else %}
        <li>keine Einträge</li>
    {% endfor %}
</ul>
